<a href="https://colab.research.google.com/github/joaowolfcouto/Joao-Wolf-Repository/blob/main/3_Strings_noted_and_exercise_Joao_Wolf_Couto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!jt -t grade3 -tf merriserif -tfs 14 -nf ptsans -nfs 16

In [ ]:
s = 'This is a test'
len(s)

14

In [ ]:
s='abcd'
s[3]

'd'

In [ ]:
s2= 'a'
print(3*s2)

aaa

In [ ]:
s='abc'
2*s

'abcabc'

To print all variables of the string

In [ ]:

for index in range(0,len(s),1):
  print(s[index])

a
b
c

In [ ]:
s='this is another test'

for index in range (len(s)):
  print(s[index])

t
h
i
s

i
s

a
n
o
t
h
e
r

t
e
s
t

In [ ]:
s= 'This is another test'

for c in s:
  print(c)

T
h
i
s

i
s

a
n
o
t
h
e
r

t
e
s
t

In [ ]:
s1='abcdefg'
s2='abdght'

for i in range(len(s1)):
  if s1[i] in s2:
    print(s1[i])

a
b
d
g

In [ ]:
s1='abcdefg'
s1[-1]

'g'

In [ ]:
s1='abcdefg'
s2='abdght'

for char in s1:
  if char in s2:
    print(char)

#with key work "in" you can search for a particular item in a composite

a
b
d
g

In [ ]:
s = ''

for i in range(5):
  s = s + 'a'
  print(len(s))

print(s)

1
2
3
4
5
aaaaa



```
# This is formatted as code
```

# Strings - `Input()` function

In this lecture, we will introduce ourselves in the first of the Python-native complex objects, strings.

We have already seen strings when discussing about function `print()`. Now is the time to go a bit deeper and see how can we work with them, and manipulate them.

Many of the techniques discussed in this chapter can be used in exact the same way for other complex objects, like tuples, lists, and dictionaries.

Except strings, we will also discuss another built-in function that we used in examples before. This is the `input()` function that allows the user to give input values to variables directly from the keyboard.

## Strings

- As we saw before, objects of type `str` represent characters
- Character objects can be written either using single (`'abc'`), or double quotes (`"abc"`), but not by combining them.

Quick test: `'123'` is character or number?

## Overloaded operators: How to apply mathematical operators on non-numerical objects

Strings can be manipulated similar to numerical objects in many ways.
- Specifically, we can add strings together or multiply strings with integers.
- Strings in Python are **immutable**: Once created, we cannot manipulate them by substituting letters, or substrings, with new ones.

Regarding the former, the common numerical operators (`+`, `*`) can be used in strings too, under certain conditions:
- These common operators have different meaning depending on the objects they are applied upon
    - `+` means addition when objects are both numbers, or concatenation when objects are strings
        * Example: `3 + 4 = 7`, `'a' + 'a' = 'aa'`
        * Adding a string with a non-string object is **not** allowed: `'a' + 3` will return a type error.
    - `*` mean multiplication for number objects, repetition when applied to an `int` and a `str`
        * Expression `n*s`, with `n` an `int` and `s` a `str` returns a `str` with `s` repeated `n` times.
        * Example: expression `3*'a'` returns a string of characters `a` repeated three times
        * multiplying strings with strings is **not** allowed: `'a'*'a'` will return a type error

In [ ]:
a = 2
a*'a'

Python uses **type checking** to warn us of those errors
- They capture errors that might not be obvious while writing code
- Example: what '4' < 3 will return?

Let's see below some examples of applying those operators on strings:

In [ ]:
print('a')
print(3*4)
print(3*'a')
print(3+4)
print('a'+'a')

print('a'*'a')

a
12
aaa
7
aa

TypeError: can't multiply sequence by non-int of type 'str'

In general, there are three main operations we can perform with strings:
* find their length,
* access a single character using its *index*, and
* access a substring.

These operations can be used on tuples and lists as well, so make sure you understand how they work.

<img src="https://drive.google.com/uc?id=1qtJBaJmsJomSkMtqpjrg4KjfZGuRdfM_" width=800/>

### Indexing

Before going into detail on those operations, we need to clarify the concept of *enumeration*.

In Python, enumeration **always** starts from 0. Hence, for string `"Hello world"`, letter `H` will have index 0, `e` will have index 1, and so on.

In the previous lecture we discussed function `range()`:
- `range(3)` returns `0, 1, 2`, hence three numbers in total.
- Indexing follows the same logic. For example, for a string of length 5, the indexes associated with it are `0, 1, 2, 3, 4`

Let's see how those apply to the aforementioned operations.


1. *Length*: `len('abc')` returns 3
2. *Indexing*: `'abc'[0]` returns `'a'`, `'abc'[3]` returns an index error
    * We are also allowd to use negative values to index beginning from the end of the string
    * Example: `'abc'[-1]` returns `c`
    <img src="https://drive.google.com/uc?id=1M_NftWz5o_xSdI7aSWqmtQikHa1MhFNe" width=800/>
3. *Slicing*: Used to access parts of sequences like lists, tuples, and strings. For a string `s`, `s[start:end]` returns a partial string starting from index `start` and ending on `end-1`
    * Example: `'abc'[1:3]` returns `bc`
    * Q: What does `'abc'[0:len('abc')]` returns?
    * Slicing process shows many similarities to how function `range()` works, using the same keywords. However, it is rare to use `step`, so it is usually omitted.

- `'abc'[:2]` is equivalent to `'abc'[0:2]`, `'abc'[1:]` is equivalent to `'abc'[1:len('abc')]`
- `'abc'[:]` is equivalent to `'abc'[0:len('abc')]`
- Use a third step argument to select indices every step values:
    * `'123456789'[0:8:2]` returns `1357`

In [ ]:
s = 'This is a string'
print(s[15], s[len(s) - 1], s[-1])

We can also define *empty* strings when necessary.

For example, if you want to create a new string using iterative branching, then the first thing you should do is define an empty string that will populate during iterations:

```python
# Initial (empty) string
s = ''

for _ in range(5):
    s += 'a'
print(s)
# prints out 'aaaaa'
```

In [ ]:
L= [1,2,3,4,5]
L[1:]

[2, 3, 4, 5]

In [ ]:
s = ''

for _ in range(5):
    s += 'a'
print(s)

aaaaa

### Type casting

We discussed multiple times previously the concept of **type casting**.
- E.g., `print()` casts non-string objects to strings before flushing them on the screen.

Used often in Python
- Use type name to convert values to that type. E.g., `int('3')` returns `3`

Here is a list of all type casting functions allowed in Python:
 - **int()** – converts any data type into integer type
 - **float()** – converts any data type into float type
 - **ord()** – converts characters into integer
 - **hex()** – converts integers to hexadecimal
 - **oct()** – converts integer to octal
 - **tuple()** – function is used to convert to a tuple.
 - **set()** – function returns the type after converting to set.
 - **list()** – function is used to convert any data type to a list type.
 - **dict()** – function is used to convert a tuple of order (key, value) into a dictionary.
 - **str()** – converts integer into a string.
 - **complex(real,imag)** – This function converts real numbers to complex(real,imag) number.

*Be careful with type casts.*
 - A `float` converted to `int` will truncate (not round up/down) decimals. E.g., `int(3.9)` returns `3`

Let's see some examples of type conversions used in `print`:

In [ ]:
num = 30000000
fraction = 1/2
print(num*fraction, 'is', fraction*100, '%', 'of', num)
print(num*fraction, 'is', str(fraction*100) + '%', 'of', num)

print(int(num*fraction), 'is', str(fraction*100) + '%', 'of', num)

# print with f-strings
print(f'{int(num*fraction)} is {fraction*100}% of {num}')

# print with f-strings and control modifiers. Comma modifier instructs Python to use commas on thousands
print(f'{num*fraction:,.0f} is {fraction*100}% of {num:,}')

Decimal `.0` appears because `fraction` is a float, and multiplying an `int` with a `float` returns `float`

After Python 3.6, string expressions in `print` function can

A nice property of `f-strings` is that they are useful to control the appearance of the output using *control modifiers*
- Use colon `:` to separate the expression from the control modifier
    * `f'{3.14159:.2f}'` evaluates the expression `3.14159` to `3.14` (`.2` denotes two decimals)

### Strings and Loops

Strings (as also tuples and lists) are considered **sequential objects**. Hence, we can use them as iterables in a `for` loop.

Now that you know how iterations work and how strings can be manipulated, let's see an example where we want to iterate over a string's characters.

The following code fragments do the same thing.
- In the first approach, we iterate over the string characters via their *indexes*
  * This is obvious because of the square brackets `[]` and how the function `range()` is used (`end=len(s)`)
- The second fragment is more "Pythonic".
  * We don't iterate over characters via their indexes, but over them directly.
  * That way, we avoid using all those brackets seen in the first approach. Makes the process more robust to syntax erros.

Both approaches are equivalent and you can use anyone you like.

```python
s = "abcdefgh"
for index in range(len(s)):
    if s[index] == 'i' or s[index] == 'u':
        print("There is an i or u")

for char in s:
    if char == 'i' or char == 'u':
        print("There is an i or u")
```

**Finger exercise**: Write a Python script that first compares the length of two strings. If they are equal in length, print common letters between them.

String 1: `UM rocks!`, String 2: `i rock UM`

In [ ]:
s1 = "UM rocks!"
s2 = "i rock UM"

if len(s1) == len(s2):
  for char in s1:
    if char in s2 and char != ' ':
      print('Letter', char, 'is common in both strings')

Letter U is common in both strings
Letter M is common in both strings
Letter r is common in both strings
Letter o is common in both strings
Letter c is common in both strings
Letter k is common in both strings

In [ ]:
#list examples

L=[1, 'two' ,3.0, print, [5,7,9]]
L

[1, 'two', 3.0, <function print>, [5, 7, 9]]

In [ ]:
L[:3]
L

NameError: name 'L' is not defined

In [ ]:
3* ['three', 9.99,0 ]

['three', 9.99, 0, 'three', 9.99, 0, 'three', 9.99, 0]

In [ ]:
#strings are immutable so this code would not work
s="two"
s[2]='b'

In [ ]:
L=[1,'two', 3.0, print , [5,7,9]]
L[3] = input
L

[1,
 'two',
 3.0,
 <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7b064a283820>>,
 [5, 7, 9]]

In [ ]:
#choose for loop over while loop; for loop - we know how many iterations beofore we write it
#while loop goes forever
#want to use the for loop because lists have a finite number of object, hence needing a finite amount of iterations
L=[1,'two', 3.0, print , [5,7,9]]
L[3]='b'
for index in range(len(L)):
  print(L[index])

1
two
3.0
b
[5, 7, 9]

In [ ]:
for element in L:
  print(element)
#that is the same as the one before dont know how

1
two
3.0
b
[5, 7, 9]

In [ ]:
# two dimensional array; list that has other lists within

[[...],[...],[...]]

L_outer= [[1,2,3],[4,5,6]]
print(L_outer)
#modify the 4
l=L_outer[1]
print(l)
l[0]=7
print(l)
L_outer[1]=l
print(L_outer)

#better way to do it

L_outer[1][0]=7
print(L_outer)r

[[1, 2, 3], [4, 5, 6]]
[4, 5, 6]
[7, 5, 6]
[[1, 2, 3], [7, 5, 6]]
[[1, 2, 3], [7, 5, 6]]

In [ ]:
#addind to the list
s= ['three',9.99, 0]
L.append(s)
L

s=['three',9.99,0]
L.extend(s)
L

[1,
 'two',
 3.0,
 'b',
 [5, 7, 9],
 'three',
 ['three', 9.99, 0],
 ['three', 9.99, 0],
 ['three', 9.99, 0],
 ['three', 9.99, 0],
 ['three', 9.99, 0],
 ['three', 9.99, 0],
 'three',
 9.99,
 0]

In [ ]:
L=[1,'two',3.0,print,[5,7,9]]
len(L)

L+ ['three']

#when you add two strings together it creates a new string :
#this would create a new list

L.append(['three', 4])#add onto the list with this new list
L


L.extend(['three', 4])#to add these objects separately will need to use the method extend
#extend takes iterable objects
L

L.pop(2) #by default removes the last element (-1 index or len(-1)- takes the value of an index
L

[1, 'two', <function print>, [5, 7, 9], ['three', 4], 'three', 4]

In [ ]:
numbers= [1,5,3,4,3,2]
numbers.sort()
numbers #by default sorts by ascending order , can not do it with a string

numbers = [1,3,4,5,6,3]
numbers.sort(reverse=True)

numbers

[6, 5, 4, 3, 3, 1]