<a href="https://colab.research.google.com/github/joaowolfcouto/Joao-Wolf-Repository/blob/main/Dic_variables%2C_deposit_with_interest%2C_and_list_creator_Joao_Wolf_Couto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Populate a dict with two variables:

In [1]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[numbers[i]]= names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

List Creator:

In [4]:
L = []

number = int(input('Enter a value: '))

while number != 0:
  L.append(number)
  number = int(input('Enter a value: '))
L

Enter a value: 5
Enter a value: 6
Enter a value: 8
Enter a value: 2
Enter a value: 1
Enter a value: 8
Enter a value: 0

[5, 6, 8, 2, 1, 8]

Deposit with Interest:

In [ ]:
name = input('Enter your name: ')
customer_type = input('Enter customer type (n: new, e: existing): ')
deposit: float(input("Enter deposit amount (in $): "))

if customer_type == 'n':
  interest = 0.03
else:
  if deposit <= 1000:
    interest = 0.03
  elif deposit <= 10000:
    interest = 0.0325
  elif deposit > 10000:
    interest = 0.035

total = (1 + interest) * deposit
print(total)