<a href="https://colab.research.google.com/github/joaowolfcouto/Joao-Wolf-Repository/blob/main/In_class_assignment_Lists_Joao_Wolf_Couto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = []
number = int(input('Enter a value: '))

while number != 0:
  L.append(number)
  number = int(input('Enter a value: '))
print(L)

L.sort()
L

Enter a value: 3
Enter a value: 7
Enter a value: 8
Enter a value: 1
Enter a value: 0
[3, 7, 8, 1]

[1, 3, 7, 8]

In [ ]:
L1=[1,2,3,4]
L2=[1,2,5,6]

for item in L1: #for loop that iterates every number in L1
  if item in L2: #on every iteration checks for common items within two lists
   L1.remove(item) #if it is true then remove if its in both

L1 #in this loop, 2 is still in the list because when it goes back through the loop 2 takes the first position:

#to avoid that from happening, need to.....

L1=[1,2,3,4]
L2=[1,2,5,6]

for item in L1[:]:
  if item in L2:
    L1.remove(item)
L1

[3, 4]

In [ ]:
L=[1,2,5,6,7]
L[1]=3
L

[1, 3, 5, 6, 7]

In [ ]:
t=(1,'two',3.0) #touple : immutable list
t

(1, 'two', 3.0)

In [ ]:
t + (3,4)

(1, 'two', 3.0, 3, 4)